:root {
    --border-style: thin solid #999;
    --image-border: thick double rgb(255, 255, 255);
    --main-project: thin solid #000;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.top-of-page {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 45px;      /* Included a cool background photo to update sytle of header. Would be nice to learn to center the image and size properly */
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/andromeda-galaxy-royalty-free-image-1585682435.jpg);
    background-repeat: no-repeat;
    padding-top: 75px;
    padding-bottom: 75px;
}

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    background-color: rgb(2, 39, 53);
    color:rgb(240, 255, 240);
    background-size: auto;
    border: var(--image-border);
    align-items: center;
    opacity: 0.5; /* Added opacity to the overscreen header of my name to contrast with the photo of myself */
}

.portfolioPhoto {  
    height: 200px;
    width: 200px;
    border: var(--image-border);
}

header h1 {
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 120px;
    font-weight: 300;
}

.navigation {
    display: block;
    flex-direction: row;
}

li:nth-child(-n + 4) {
    padding-top: 5px;
    padding-bottom: 5px;
}

a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    position: relative;
    right: 15px;
    color: azure;
}

a:hover {
    color:blue;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 200;
    margin-top: 20px;
    background-color: rgb(4, 10, 12);
    color: azure;
    border: var(--image-border);
}

#about-me-paragraph {
    margin-right: 30px;
    margin-left: 30px;
    font-size: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-project {
    width: 1300px;
    height: 600px;
    padding: 20px;
    border: thin solid black;
    margin-bottom: 20px;
}

.main-project:hover {
    padding: 18px;
    background-color: rgb(0, 0, 0);
    border: thin solid black;
    opacity: 0.75;
}

.other-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.project-1 {
    background-image: url(../images/Password-Generator.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 2px thick rgb(43, 42, 42);
    height: 350px;
    width: 350px;
    font-size: xx-large;
    color: blue;
}

.project-1:hover {
    opacity: 0.5;
    padding: 30px;
}

.project-2 {
    background-image: url(https://christoph551.github.io/prework-study-guide/assets/Earth.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 350px;
    width: 350px;
    font-size: xx-large;
    color: blue;
}

.project-2:hover {
    opacity: 0.5;
    padding: 30px;
}

.project-3 {
    background-image: url(../images/digital-marketing-meeting.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 10px thick rgb(43, 42, 42);
    height: 350px;
    width: 350px;
    font-size: xx-large;
    color: blue;
}

.project-3:hover {
    opacity: 0.5;
    padding: 30px;
}

.project-4 {
    background-image: url(../images/Favicon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 10px thick rgb(43, 42, 42);
    height: 370px;
    width: 350px;
    font-size: xx-large;
    color: blue;
}

.project-4:hover {
    opacity: 0.5;
    padding: 30px;
}

.other-projects figure {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    color: rgb(106, 106, 107);
}

.other-projects a span {
    display: flex;
    flex-wrap: wrap;
}


.projects:hover {
    border: 2px solid black;
    height: 500px;
    width: 500px;
    opacity: 0.5;
}

h4 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: thick solid grey;
}

.contact-nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: bolder;
    padding-top: 10px;
}

.contact-links li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: blue;
    margin-top: 20px;
}

.contact-links li a:hover {
    display: flex; 
    flex-direction: row;
    align-items: center;
    color: blue;
    font-size:xx-large;
}

footer {
    display: flex;
    justify-content: center;
    font-size: large;
    background-color: #000;
    border: var(--image-border);
    margin-top: 20px;
    margin-bottom: 20px;
    color: azure;
}

@media screen and (max-width: 1875px) {
    .top-of-page h1 {
        display: flex;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 80px;
        font-weight: 100;
}
#about-me-paragraph {
    font-size: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

}

@media screen and (max-width: 1400px) {
    .top-of-page h1 {
        display: flex;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 75px;
        font-weight: 100;
}
.top-of-page {
    font-size: 30px;
}
#about-me-paragraph {
    font-size: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

}

@media screen and (max-width: 1200px) {
    .top-of-page {
        display: flex;
        flex-direction: column;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
        font-weight: 100;
} 
.top-of-page h1 {
    font-size: 75px;
}
.portfolioPhoto {  
    height: 200px;
    width: 200px;
    border: var(--image-border);
    margin-top: 30px;
    margin-bottom: 20px;
}
#about-me-paragraph {
    font-size: 30px;
    margin-right: 30px;
    margin-left: 30px;
}
.main-project {
    width: 700px;
    height: 400px;
    padding: 20px;
    border: thin solid black;
    margin-bottom: 20px;
}
h3 {
    font-size: 45px;
}

} 

@media screen and (max-width: 1025px) {
    .top-of-page {
        display: flex;
        flex-direction: column;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
        font-weight: 100;
} 
.top-of-page h1 {
    font-size: 75px;
}

}

@media screen and (max-width: 769px) {
    .top-of-page {
        display: flex;
        flex-direction: column;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        font-weight: 100;
} 
.top-of-page h1 {
    font-size: 50px;
}
#about-me-paragraph {
    margin-right: 30px;
    margin-left: 30px;
    font-size: 20px;
}
.main-project {
    width: 400px;
    height: 400px;
    padding: 20px;
    border: thin solid black;
    margin-bottom: 20px;
}
h3 {
    font-size: 25px;
}

}

@media screen and (max-width: 499px) {
    .top-of-page {
        display: flex;
        flex-direction: column;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        font-weight: 100;
} 
.top-of-page h1 {
    font-size: 45px;
}
#about-me-paragraph {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px;
}

}